<div class="container">
  <img
    src="../../../../assets/images/christisan-logo.jpg"
    alt="christian-logo"
    class="logo"
  />
  <mat-nav-list style="width: 100%">
    <mat-list-item>
      <mat-icon matListItemIcon>book</mat-icon>
      <a>Books</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListItemIcon>book</mat-icon>
      <a>Books</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListItemIcon>book</mat-icon>
      <a>Books</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListItemIcon>book</mat-icon>
      <a>Books</a>
    </mat-list-item>
  </mat-nav-list>
</div>
